<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technology Press</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
</head>

<body>
    <header>
        <div>
            <h1><a href="/">Technology Press</a></h1>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">
                    logout</button>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Thanks for visiting!
    </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script type="text/javascript" src="/javascript/materialize.js"></script>
</body>

</html>